@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ropa-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ropa-sans), sans-serif;
}

@layer utilities {
  .initial-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .hero-video {
    mask-image: url("/images/logo-mask.png");
    mask-size: 5000%;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: mask-size 0.5s ease-in-out;
  }
}
